html,
body {
	height: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #544837;
	background: #F8FFFF;
}

button {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.container {
	max-width: 1144px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	color: #1E959B;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
}

.slick-dots {
	display: flex;
	justify-content: center;
	button {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: none;
		font-size: 0;
		background: #efefef;
		padding: 0;
		margin: 0 5px;
	}
	.slick-active button {
		background-color: #F05670;
	}
}
